nav{
  position: absolute;
  text-align: center;
  background-color: #e0e3e7;
  display: flex;
  align-items: center;
  min-height: 8vh;
  width: 100%;
  box-shadow: #787878 0.1px 0.1px 50px;
  z-index: 10;
}

.nav-links{
display: inline-flex;
flex-direction: row;
justify-content: space-evenly;
width: 80%;
}

.nav-links a{
  color: #522c55;
  font-size: 24px;
}

.topbutton{
  z-index: 10;
  display: block;
  background-color: #efefef;
  width: 70px;
  height: 70px;
  position: fixed;
  border-radius: 10px;
  bottom: 2vh;
  right: 2vw;
  transition: ease-in-out 250ms;
}

.topbutton img{
  position: fixed;
  height: 70px;
  width: 70px;
}

.topbutton:hover{
cursor: pointer;
background-color: rgba(255, 255, 255, 0.7);
}

a:hover{
color: black;
}

p, h1:hover{
cursor: default;
}
