body {
	background-image: url(img/bg-01.jpg);
	background-size: 100%;
}

header{
	width: 80%;
	margin: auto;
	background-color: white;
<<<<<<< HEAD
	font-family: sniglet;
=======
	border-radius: 12px;
>>>>>>> 0e3a0a373965c68482feedc7536287eea0d13c11
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li{
	float: left;
}

li a{
	display: block;
	text-align: left;
	padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
	background-color: aqua;
}

li:last-child{
	float: right;
}

.wrapper{
	width: 80%;
	margin: auto;
	background-color: white;
	border-radius: 12px;
}

footer{
	width: 80%;
	margin: auto;
	background-color: white;
<<<<<<< HEAD
}
@font-face{
	src: url(../font/Sniglet-Regular.ttf);
	font-family: sniglet;
=======
	border-radius: 12px;
>>>>>>> 0e3a0a373965c68482feedc7536287eea0d13c11
}