body {
	background-image: url(img/bg-01.jpg);
	background-size: 100%;
}

.wrapper{
	margin: auto;
	width: 80%;
	background-color: white;
	margin-top: 50px;
}

h1{
	text-align: center;
}

.logo {
	width: 50px;
	padding: 5px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: aqua
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
